
* {
    font-family: 'Jua', sans-serif;
}

.reservation-body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2015/07/02/10/22/training-828726_960_720.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.reservation-list-body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2017/11/18/05/02/yoga-2959226_960_720.jpg');
    background-size: cover;
}
.timetables-body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2017/08/07/14/02/man-2604149_960_720.jpg');
    background-size: cover;
}

.main-body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/533646/pexels-photo-533646.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
}

.review-body {
    background-color: darkseagreen;
}
.advise-body {
    background-color: burlywood;
}

.advice-body {
    background-color: lightblue;
}


.reservation-form {
    background: rgb(245, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px lightgray;
    width: 600px;
    padding: 30px 10px;
    /*margin: 100px auto;*/
    margin: 60px auto;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.timetables-form {
    width: 350px;
}

.img-fluid {
    width: 200px;
    min-width: 200px;
}

.reservation-search {
    margin-left: 20px;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    height: 350px;
}
.time-select {
    width: 300px;
    margin: 20px 0px;
}

.top-menu {
    margin: 30px 80px;
}

.nav-right {
    font-size: 1.5rem;
     margin-right: 20px;

}

.homefit {
    font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.reservation-profile {
    text-align: center;
    height: 350px;
    width: 210px;
    margin-left: 0px;
}

.desc {
    margin-top: 15px;
    margin-left: 10px;
}

.timetables {
    margin: 10px auto;
}

.reservation-list {
    margin: 40px 50px;
}

.reservation-card {
    margin-top: 30px;
}

.reservation-content {
    align-items: center;
    text-align: center;
}

.btn-cancel {
    color: #BA94D1;
    border-color: #BA94D1;
    margin-top: 5px;
    width: 100px;
}

.btn-cancel:hover, .btn-time:hover {
    background-color: #BA94D1;
    color: white;
}

.btn-time {
    width: 100px;
    margin: 5px;
    color: #BA94D1;
    border-color: #BA94D1;}

.bg-purple {
    border-color: #DEBACE;
}

.datepicker {
    width: 90%;
}
.btn-timetable {
    width: 90%;
}


.advise-form {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 70%;

    background-color: white;
    border-radius: 10px;
}

.advise-form > button:hover {
    background-color: darksalmon;
}

.advise-title {
    text-align: center;
    font-size: 50px;
    color: navajowhite;
    cursor: default;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 2%;
}

.advice_list {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 16%;

    overflow: auto;

    box-shadow: 0px 0px 0px 2px navajowhite;
}

.advice_list::-webkit-scrollbar {
    width: 30px;
}

.advice_list::-webkit-scrollbar-thumb {
    background-color: navajowhite;
}

.advice_list::-webkit-scrollbar-thumb:active {
    background-color: burlywood;
}

.advices {
    height: 15%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 0px 2px navajowhite;
    padding: 10px;

    font-size: 30px;
    color: navajowhite;
    cursor: default;
}

.advices > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.advice_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: default;
}

.advice_form > div {
    border-radius: 5px;
}

.advice_title {
    height: 60px;
    width: 90%;
    left: 5%;
    background-color: white;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.advice_comment {
    height: 300px;
    margin-top: 20px;
    width: 90%;
    left: 5%;
    background-color: white;
    padding: 10px;
}

.advise-btn {
    font-size: 20px;
    width: 10%;
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    background-color: navajowhite;
    border-radius: 5px;
}

.advise-list {
    font-size: 20px;
    width: 12%;
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    background-color: navajowhite;
    border-radius: 5px;
}

.advice-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.advice-btn > button {
    border: none;
    border-radius: 5px;
    width: 10%;

    color: white;

    margin-right: 5%;
}
