<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/styles.css">
      <link href="https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:wght@400;700;900&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="/static/js/main.js" defer></script>

    <title>💪홈핏 | 상담페이지</title>

    <style>
        * {
            border: none;
            outline: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/getcookie",
                data: {},
                success: function (response) {
                    let user = response['user'];
                    if (user == null) {
                        alert('로그인하세요');
                        document.location = '/'
                    }
                }
            })
            open_list();
            advise_show();
            myadvise_show();
            $.removeCookie('comment_num');
        });

        function open_write() {
            window.open('advise/write', 'write', 'width = 600px, height= 550px, top= 300px, left= 600px')
        }

        function open_my() {
            $('#list_title').hide()
            $('#my_list').show()
            $('#my_go').hide()
            $('#list_go').show()
            $('#advice_list').hide()
            $('#myadvice_list').show()
        }

        function open_list() {
            $('#my_list').hide()
            $('#list_title').show()
            $('#list_go').hide()
            $('#my_go').show()
            $('#myadvice_list').hide()
            $('#advice_list').show()
        }

        function advise_show() {
            $.ajax({
                type: "GET",
                url: "advise/show",
                data: {},
                success: function (response) {
                    let rows = response['advice']

                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let name = rows[i]['member']
                        let num = rows[i]['num']
                        let private = rows[i]['private']

                        let temp_html = `<div onclick="check_private(${num}, ${private})" class="advices" style="cursor: pointer">
                                            <div style="height: 100%; width: 70%">${title}</div>
                                            <div style="height: 100%; width: 30%">${name}</div>
                                        </div>`

                        if (private) {
                            temp_html = `<div onclick="check_private(${num}, ${private})" class="advices" style="cursor: pointer">
                                            <div style="height: 100%; width: 70%">🔒 ${title}</div>
                                            <div style="height: 100%; width: 30%">${name}</div>
                                        </div>`
                        }

                        $('#advice_list').append(temp_html)
                    }
                }
            })
        }

        function myadvise_show() {
            $.ajax({
                type: "POST",
                url: "advise/show",
                data: {},
                success: function (response) {
                    let rows = response['advice']

                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let name = rows[i]['member']
                        let num = rows[i]['num']
                        let private = rows[i]['private']

                        let temp_html = `<div onclick="check_private(${num}, ${private})" class="advices" style="cursor: pointer">
                                            <div style="height: 100%; width: 70%">${title}</div>
                                            <div style="height: 100%; width: 30%">${name}</div>
                                        </div>`

                        if (private) {
                            temp_html = `<div onclick="check_private(${num}, ${private})" class="advices" style="cursor: pointer">
                                            <div style="height: 100%; width: 70%">🔒 ${title}</div>
                                            <div style="height: 100%; width: 30%">${name}</div>
                                        </div>`
                        }

                        $('#myadvice_list').append(temp_html)
                    }
                }
            })
        }

        function check_private(num, private) {
            $.ajax({
                type: "POST",
                url: "/comment/show",
                data: {num_give: num},
                success: function (response) {
                    let comment_id = response['advice'][0]['id']
                    let cookie_id = response['cookie']
                    if (private == 0 || comment_id == cookie_id) {    //내아이디와 comment id를 비교해서 맞으면 참이게 그리고 수정 삭제 버튼
                        comment_show(num);
                    } else {
                        alert('비공개글입니다')
                    }
                }
            })
        }

        function comment_show(num) {
            $.cookie('comment_num', num);
            window.open('advise/read', 'write', 'width = 600px, height= 550px, top= 300px, left= 600px')
        }
    </script>
</head>

<body class="advise-body">
<nav class="navbar navbar-expand-lg navbar-dark  top-menu">
    <a class="navbar-brand homefit" href="/main">HomeFit</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ms-auto" id="nav-item">
            <li class="nav-item">
                <a class="nav-link  nav-right" href="main">강사검색</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  nav-right" href="reservation/list">예약조회</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-right" href="/logout">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>
<div class="advise-form">
    <div id="list_title" class="advise-title">전체 상담 목록</div>
    <div id="my_list" class="advise-title">나의 상담</div>
        <button class="advise-btn" onclick="open_write()">글쓰기</button>
        <button id="my_go" class="advise-list" onclick="open_my()">나의 상담</button>
        <button id="list_go" class="advise-list" onclick="open_list()">전체 상담</button>
    <div class="advice_list" id="advice_list">
    </div>
    <div class="advice_list" id="myadvice_list">
    </div>
</div>
</body>

</html>